# Core Environment
NODE_ENV="development"

# Database (MongoDB)
MONGODB_URI=""
MONGODB_DB_NAME=""
MONGODB_COLLECTION_CHATS=""
MONGODB_COLLECTION_CRAWLING_META=""

# AI & Chatbot (Mem0 + Groq)
MEM0_API_KEY=""
GROQ_API_KEY=""

# Security & Auth (reCAPTCHA)
RECAPTCHA_SECRET_KEY=""
NEXT_PUBLIC_RECAPTCHA_KEY=""

# Communications (Resend)
RESEND_API_KEY=""

# Analytics (PostHog)
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST="https://e.shivamtaneja.com"
POSTHOG_PROJECT_ID=""
POSTHOG_PERSONAL_API_KEY=""
POSTHOG_API_HOST=""